<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @article.img.url if @article.img? %>
</p>

 
<h2>Comments</h2>
<%= render @article.comments %>
 
<%= render 'comments/form' %>
 
<%= link_to '編集', edit_article_path(@article) %> |
<%= link_to '戻る', articles_path %>